@using Model
@model Music.UI.ViewModel.MusicViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- Banner -->
    <div id="banner">
        <div class="container">
        </div>
    </div>
    <!-- /Banner -->
    <!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row">

                <div class="3u">
                    <section class="sidebar">
                        <header>
                            <h2>音乐列表</h2>
                        </header>
                        <ul class="default">
                            <li><a href="#">不谓侠</a></li>
                            <li><a href="#">隔烟水</a></li>
                            <li><a href="#">牵丝戏</a></li>
                            <li><a href="#">清明上河图</a></li>
                            <li><a href="#">理想三旬</a></li>
                        </ul>
                    </section>
                    <section class="sidebar">
                        <header>
                            <h2>歌单列表</h2>
                        </header>
                        <ul class="default">
                            <li><a href="#">古风与电子元素碰撞</a></li>
                            <li><a href="#">运动/游戏必备</a></li>
                            <li><a href="#">纯音乐</a></li>
                            <li><a href="#">华语专辑</a></li>
                            <li><a href="#">世界杯音乐集锦</a></li>
                            <li><a href="#">经典电影背景配乐</a></li>
                        </ul>
                    </section>
                </div>

                <div class="9u skel-cell-important" style="display:inline;">
                    <section>
                        <div class="row">
                            <section class="3u">
                                <header>
                                    <h2>
                                        
                                        <img src="~/Content/Shared/images/1.jpg" width="150" height="150" alt="" />
                                    </h2>
                                </header>


                                <p>muis1</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2><img src="images/电音.jpg" width="150" height="150" alt="" /></h2>
                                </header>

                                <p>music2</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>
                                        
                                        <img src="~/Content/Shared/images/2..jpg" width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music3</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>

                                        <img src="~/Content/Shared/images/3.jpg" width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music4</p>
                            </section>
                        </div>
                        <div class="row">
                            <section class="3u">
                                <header>
                                    <h2>
                                        
                                        <img src="~/Content/Shared/images/4.jpg" width="150" height="150" alt="" />
                                    </h2>
                                </header>


                                <p>muis1</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>
                                        
                                        <img src="~/Content/Shared/images/5.jpg" width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music2</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>
                                       
                                        <img src="~/Content/Shared/images/6.jpg"  width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music3</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>
                                     
                                        <img src="~/Content/Shared/images/7.jpg" width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music4</p>
                            </section>
                        </div>
                        <div class="row">
                            <section class="3u">
                                <header>
                                    <h2>
                                        
                                        <img src="~/Content/Shared/images/8.jpg"  width="150" height="150" alt="" />
                                    </h2>
                                </header>


                                <p>muis1</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>
                                       
                                        <img src="~/Content/Shared/images/9.jpg"  width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music2</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>
                                        
                                        <img src="~/Content/Shared/images/1028.jpg"  width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music3</p>
                            </section>
                            <section class="3u">
                                <header>
                                    <h2>
                                      
                                        <img src="~/Content/Shared/images/4.jpg"  width="150" height="150" alt="" />
                                    </h2>
                                </header>

                                <p>music4</p>
                            </section>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
    <!-- Main -->
</body>
</html>

